name: Terraform Destroy

on:
  workflow_dispatch:

jobs:
  Terraform-destroy:
    name: Terraform destroy
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
        working-directory: terraform
    steps:
      - name: Checkout
        uses: actions/checkout@v3